# LaTeX build files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz

# Optional common LaTeX artifacts
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
*.lof
*.lot
*.xdv
*.dvi
*.ps
*.bcf
*.xml

#Pycache files.

*.pyc
latex-tesis/JAIO/jaio_paper.bcf
latex-tesis/JAIO/jaio_paper.run.xml
